body {
  font-family: Arial, sans-serif;
  margin: 10px;
}

.styled-button {
  background-color: #292fac;
  color: white;
  font-weight: bolder;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.styled-button:hover {
  background-color: #fecd2a;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

.success {
  color: green;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Adjust the size of the logo to match the button */
.logo {
  width: 180px;  /* Adjust this value to match the button size */
  height: auto;  /* Maintain aspect ratio */
  margin-right: 10px;  /* Optional: space between logo and button */
}
