body {
  font-family: Arial, sans-serif;
  margin: 10px;
}

.styled-button {
  background-color: #e53e3e;
  color: white;
  font-weight: bolder;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.styled-button:hover {
  background-color: #c53030;
}

.button-container {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

.success {
  color: green;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
